.content-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 50px;
}

.flex-gallery-container {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-gallery-container-scroll {
  width: 300%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;

}


.flex-gallery-item-right {
  /*background-color: dodgerblue;*/
  padding: 10px;
  flex: 50%;
}

@media (max-width: 1000px) {
  .flex-gallery-container {
      flex-direction: column;
  }
}

.image-gallery-center {
  display: flex;
  cursor: pointer;
  height: 500;
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500;
}

.layers-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-actions {
  display: flex;
  gap: 10px;
}

.user-input {
  width: 100%;
  padding: 5px;
}