.layers-error-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #EF4444;
}

.layers-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-modal {
  position: absolute;
  top: 40%;
  z-index: 1000;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-actions {
  display: flex;
  gap: 10px;
}

.user-input {
  width: 100%;
  padding: 5px;
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-item-left {
  padding: 50px;
  flex: 50%;
}

.flex-item-right {
  outline-style: solid;
  outline-width: thick;
  padding: 0px;
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

#container {
  text-align: center;
}

#options {
  display: inline-block;

  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 1px solid #94A3B8;
  background-color: #E2E8F0;
  border-radius: 5px;
  cursor: pointer;

  margin: 10px;
}